.calculadora {
    padding: 10px;
    background:#cccccc;
    width: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(155, 142, 172)
    
}

.calculadora input {
    background-color: rgb(173, 172, 167);
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.calculadora  input:focus{
    background-color: darkgray;
    color: rgb(148, 144, 144);
}
#btncalc {
    background-color: darkgrey;
    color: rgb(107, 103, 103);
    padding: 5px;
    border-radius: 5px;
    margin-top : 10 px ;
}
#btncalc:hover {
    background-color: darkgrey;
    color: rgb(105, 99, 99);
    cursor: pointer;
}
