. calculadora{
    fundo:rgb (160, 221, 213) ;
    largura: 200px;
    preenchimento: 10px;

}

#btnCalc {
    fundo: rgb (100, 140, 226);
    cor: concha do mar;
    preenchimento: 5px;
}

#btnCalc:pairar {
    fundo: rgb (106, 226, 156);
    cor: rgb(0, 0, 0);
    cursor: ponteiro;
}
. spResultado{
    fundo: preto;
    cor: amarelo;
    preenchimento: 4px;
    margem: 2px;
}
